@font-face {
    font-family: 'News Gothic Std';
    src: url('./NewsGothicStd.eot');
    src: local('News Gothic Std Medium'), local('NewsGothicStd'),
        url('./NewsGothicStd.eot?#iefix') format('embedded-opentype'),
        url('./NewsGothicStd.woff2') format('woff2'),
        url('./NewsGothicStd.woff') format('woff'),
        url('./NewsGothicStd.ttf') format('truetype');
    /* font-weight: 500; */
    /* font-style: normal; */
    /* font-display: swap; */

}
